.app1{width:100%;
    height: 12.24rem;
    display: flex;
    flex-direction: column;
   
}
.TaoNav{
    background: blue;
    width:100%;
    height:2.6rem;
}
.TaoName{
    background: red;
    width:100%;
    height:.66rem;
    display:fixed;
    top:0;
    left:0;
    z-index: 13;
}
.TaoBanner{
    width:100%;
    flex:1;
    background: teal;
    overflow: hidden
}
.wrapper{
    position:fixed;
    top:0;
    left:0;width:100%;
    height: 100%;
}