.homeHeader{
    width: 100%;
    height: 1.31rem;
    background: #fff;
    box-sizing: border-box;
    padding: .42667rem;
    border-bottom: .02133rem solid #d9d9d9;
    display: flex;
    justify-content: space-between;

}
#img{
    width: 100%;
    height: 1.43rem;
}
#img>img{
    display: block;
    width: 100%;
    height: 1.1rem;
}

/*搜索*/

.ser_warp{
    width: 100%;
    height: .91rem;
    border-bottom: 0.01rem solid #d9d9d9;
    background-color: #fff;
    text-align: center;
    padding: .2rem;
    display: flex;
    justify-content:space-between;
}
.home_ser_800{
    width: 1.43rem;
    height: .5rem;
}
.home_ser_800>img{
    float: left;
}
.home_ser_input{
    width: 4.2rem;
    height: .5rem;
    background-color: #efeded;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .24rem;
    color: #c1c1c1;
    border-radius: .25rem;
}
.home_ser_category>i{
    display: block;
    width: 1.46rem;
    line-height: .5rem;
    font-size: .46rem;
    font-weight: bold;
    padding-left:.45rem;
}

/*nav*/

.home_nav{
    width: 100%;
    height: .68rem;
    border-bottom: 1px solid #aaa;
}
.home_nav_cont .active p span{
    color: #e30c26;
    border-color: #e30c26;
}
.home_nav_cont{
    width: 100%;
    z-index: 2;
    height: .68rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.home_nav_cont .item{
    display: inline-block;
    height: .68rem;
    vertical-align: top;
}
.home_nav_cont .item p{
    display: block;
    height: .68rem;
    width: 1.12rem;
    overflow: hidden;
}

.home_nav_cont .item p span{
    display: block;
    height: .67rem;
    margin: 0 .28rem;
    border-bottom: .04rem solid #fff;
    line-height: .68rem;
    font-size: 0.28rem;


    
}

.home_nav_cont .all{
    width: 1.12rem;
}
.drop_down{
    width:.75rem;
    height: .68rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down-bg>i{
   font-size: .4rem;
  
}
.drop_down:hover{
    transform: rotateZ(-180deg)
}
.swiper-container{
    width: 75%;
}


.home_nav_cont  .swiper-slide {
    width: 1.12rem !important;
}



/* banner*/
.swiper-banner{
    width: 100%;
    height: 2.88rem;
    overflow: hidden;
}
.swiper-banner .swiper-slide{
    width: 7.5rem;
    height: 100%;
}
.swiper-banner .swiper-slide img{
    width: 100%;
    height: 100%;
}
/*deal_list*/

.home_deal_box{
    width: 100%;
    height: auto;
    margin-top: .2rem;
}
.home_deal_list{
    width: 100%;
    display: flex;
    justify-content:space-sp;
    flex-wrap: wrap;
}
.home_deal_item{
    display: block;
    float: left;
   
    margin-left: 0.22rem;
    width: 3.40rem;
    height: 4.50rem;
    margin-bottom: .2rem;
    border: 2px solid #ccc;
    box-sizing: content-box;
}
.goods_img{
    width: 100%;
    height: 3.40rem;
    position: relative;
    overflow: hidden;
}
.goods_img img{
    width: 100%;
    height: 100%;
}
.goods_info{
    margin: .1rem .15rem 0;
    text-align: center;
    z-index: 2;
}
.goods_info .title {
    overflow: hidden;
    font-size: .26rem;
    height: .5rem;
    line-height: .5rem;
    font-weight: 400;
    color: #333;
}
.goods_info .coupon {
    font-size: .3rem;
    color: #E60044;
    height: .5rem;
    line-height: .5rem;
    overflow: hidden;
}
.goods_topic_type{
    position: absolute;
    bottom: -.46rem;
    left: 50%;
    margin-left: -.46rem;
    width: .93rem;
    height: .93rem;
    border-radius: 50%;
    background: #fff;
    font-size: .26rem;
    color: #666;
    line-height: .54rem;
    text-align: center;
}

.soldOne{
    position: absolute;
    left: 0;
    bottom: .10rem;
    color: #fff;
    font-size: .2rem;
    height: .26rem;
    line-height: .26rem;
    background: #999;
    padding: 0 .04rem;
}

.soldTwo{
    position: absolute;
    left: 0;
    bottom: .10rem;
    color: #fff;
    font-size: .2rem;
    height: .26rem;
    line-height: .26rem;
    background: rgba(230, 0, 68, 1);
    padding: 0 .04rem;
}
.goods_info h3{
    font-size: .24rem;
    width: 3rem;
    height: .5rem;
    line-height: .5rem;
    margin: .1rem auto 0;
    font-weight: 400;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods_info h3 em {
    width: .26rem;
    height: .26rem;
    text-align: center;
    line-height: .26rem;
    color: #fff;
    font-size: .2rem;
    margin-right: .04rem;
    font-style: normal;
}
.goods_info h3 em.tao{
    background: #f5a623;
}
.goods_info h3 em.mao{
    background:  #E60044;
}

.goods_info h4{
    width: 3rem;
    height: .5rem;
    margin: 0 auto;
    line-height: .3rem;
    overflow: hidden;
    font-weight: 400;
}
.goods_info h4 .price{
    color: #E60044;
}
.goods_info h4 em,b{
    font-style: normal;
}
.goods_info h4 b{
    font-size: .24rem;
}
.price{
    float: left;
}
.price1 {
    font-size: .36rem;
}
.price2 {
    font-size: .24rem;
}
.list_price {
    font-size: .2rem;
    color: #B5B5B5;
    margin-left: .08rem;
}
.coupon_price{
    display: block;
    margin-left: .1rem;
    line-height: .34rem;
    float: left;
}
.coupon_price_text{
    color: #E60044;
    font-size: .24rem;
    max-width: 1.7rem;
    line-height: .24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
}
.right_coupon{
    font-size: .2rem;
    color: #fff;
    text-align: center;
    line-height: .26rem;
    background: url(//status.tuanimg.com/statics/mz/common/img/coupon.png);
    background-size: contain;
    width: .78rem;
    height: .26rem;
    float: right;
    margin-top: .05rem;
}