.wrapper{
    width: 100%;
    height:13rem;
    overflow: hidden;
}
.carNavBar{
    width: 100%;
    height: 1rem;
    background: #fcc
}
/* carCom */
.carCom{
    width: 100%;

}
.carCom>li{
    width: 100%;
    background: #ccf;
    margin: .2rem 0;
    display: flex;
    justify-content: space-between
}
.carFooter{
    width: 100%;
    height: 1rem;
    background: #cfc;
    position: fixed;
    bottom: 0;
    left: 0;
}
.carWrap input{
    font-size: 30px;
    visibility: hidden;
}
.carWrap label{
    display: inline-block;
    background: #fff;
    width: .4rem;
     height:0.4rem;
     border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: .4rem;
    color: #fff;
    border: 1px solid #ccc
}
.carWrap .carActive{
    background: #c33
}
.carWrap label input{
    font-size: 30px;
    position: absolute;

}

/* 
 */
 .home_deal_box{
    width: 100%;
    height: auto;
    margin-top: .2rem;
}
.home_deal_list{
    width: 100%;
    display: flex;
    justify-content:space-sp;
    flex-wrap: wrap;
}
.home_deal_item{
    display: block;
    float: left;
   
    margin-left: 0.22rem;
    width: 3.40rem;
    height: 4.50rem;
    margin-bottom: .2rem;
    border: 2px solid #ccc;
    box-sizing: content-box;
}
.goods_img{
    width: 100%;
    height: 3.40rem;
    position: relative;
    overflow: hidden;
}
.goods_img img{
    width: 100%;
    height: 100%;
}
.goods_info{
    margin: .1rem .15rem 0;
    text-align: center;
    z-index: 2;
}
.goods_info .title {
    overflow: hidden;
    font-size: .26rem;
    height: .5rem;
    line-height: .5rem;
    font-weight: 400;
    color: #333;
}
.goods_info .coupon {
    font-size: .3rem;
    color: #E60044;
    height: .5rem;
    line-height: .5rem;
    overflow: hidden;
}
.goods_topic_type{
    position: absolute;
    bottom: -.46rem;
    left: 50%;
    margin-left: -.46rem;
    width: .93rem;
    height: .93rem;
    border-radius: 50%;
    background: #fff;
    font-size: .26rem;
    color: #666;
    line-height: .54rem;
    text-align: center;
}
.sold{
    position: absolute;
    left: 0;
    bottom: .10rem;
    color: #fff;
    font-size: .2rem;
    height: .26rem;
    line-height: .26rem;
    background: #999;
    padding: 0 .04rem;
}
.goods_info h3{
    font-size: .24rem;
    width: 3rem;
    height: .5rem;
    line-height: .5rem;
    margin: .1rem auto 0;
    font-weight: 400;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods_info h3 em {
    width: .26rem;
    height: .26rem;
    text-align: center;
    line-height: .26rem;
    color: #fff;
    font-size: .2rem;
    margin-right: .04rem;
    font-style: normal;
}
.goods_info h3 em.tao{
    background: #f5a623;
}
.goods_info h3 em.mao{
    background:  #E60044;
}

.goods_info h4{
    width: 3rem;
    height: .5rem;
    margin: 0 auto;
    line-height: .3rem;
    overflow: hidden;
    font-weight: 400;
}
.goods_info h4 .price{
    color: #E60044;
}
.goods_info h4 em,b{
    font-style: normal;
}
.goods_info h4 b{
    font-size: .24rem;
}
.price{
    float: left;
}
.price1 {
    font-size: .36rem;
}
.price2 {
    font-size: .24rem;
}
.list_price {
    font-size: .2rem;
    color: #B5B5B5;
    margin-left: .08rem;
}
.coupon_price{
    display: block;
    margin-left: .1rem;
    line-height: .34rem;
    float: left;
}
.coupon_price_text{
    color: #E60044;
    font-size: .24rem;
    max-width: 1.7rem;
    line-height: .24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
}
.right_coupon{
    font-size: .2rem;
    color: #fff;
    text-align: center;
    line-height: .26rem;
    background: url(//status.tuanimg.com/statics/mz/common/img/coupon.png);
    background-size: contain;
    width: .78rem;
    height: .26rem;
    float: right;
    margin-top: .05rem;
}
