
.myTop{
    width: 100%;
    height: 2.54rem;
    background: #f44;
    color: #fff
}
.myTop>a{
    position: fixed;
    top: .3rem;
    left: .3rem;
    color:#fff
}
.myBtnWrap{
    width: 100%;
    text-align: center;
    font-family: '微软雅黑';
}
.myBtnWrap>span{
    display: inline-block;
    margin: .352rem 0 .56667rem;
    font-size: .34rem;
    line-height: .34rem;
    color: #fff;
   
    text-align: center;
}
.myBtn{
    width: 2.94rem;
    height: .74rem;
    border: 2px solid #fff;
    margin: 0 auto;
    border-radius: .37rem;
    line-height: .74rem;
    font-size: .43rem;
}
.myBtn a{
    color: #fff
}
.myList{
    width: 100%;
    background: #efefef;
    position:fixed;
    top: 2.54rem;
    left: 0;
    right: 0;
    bottom: .90rem;
    font-size:26px;
    font-family: '微软雅黑';
}
.myListOne{
    background: #fff;
    display: flex;
    justify-content: space-between;
    height: .90rem;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding:0 .3rem
}
.myShopList{
    background: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1.28rem;
    align-items: center;
    text-align: center
    
}
.myShopList>li>i{
    font-size: 50px;
    display: block
}
.myListThree{
    margin-top: .213335rem;
    width: 100%;
}