#brand{
    background: #d1d1d1
}
#brand,#hotsell{
    width:100%;
    height:.87rem;
    padding:.2rem;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    font-size: 34px;
    line-height: .46rem;
    color:#000;
}
#hotsell{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center
}
#hotsell>#hot{
    text-align: center;
    width:1.6rem;
    border-bottom: 2px solid #f00
}
#brand i{
    float: left;
    line-height: .46rem;
}
#main{
    width:100%;
    height: 100%;
    position:fixed;
    top:.87rem;
    left:0;
    overflow: scroll;
    overflow-x: hidden;
    background: #fff
}
 
#main #hotsell{
    color:red
}
#main .nav_wrap{
    height: 1.52rem;
   
}
.nav_wrap .swiper-wrapper{
    width:7.5rem;
    height: 1.52rem
}
#main .nav_wrap>.swiper-wrapper>.swiper-slide{
    width:17%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center
}
.nav_wrap>.swiper-wrapper>.nav_item{
    width:1.66rem;
    height:1.52rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}
.nav_wrap>.swiper-wrapper>.nav_item img{
    
    margin-bottom:.1rem;
    width:1rem;
    height:.7rem;
    padding: 0.05rem .2rem;
    margin: .2rem .2rem -1rem;
}
.nav_wrap>.swiper-wrapper>.nav_item span{
    margin-bottom: .15rem
}




/* // */
#list_wrap{
    width:100%;
    height: 8.42rem;
    overflow:scroll;
}
#list_wrap>.list_item{
    width:100%;
    height: 3.75rem;
    position: relative;
}
#list_wrap>.list_item>img{
    width: 100%;
    height: 3.2rem;
}
#list_wrap>.list_item>.day{
    position: absolute;
    bottom: .8rem;
    left:.15rem;
    font-size: 28px
}
#list_wrap>.list_item>.title{
    font-size: 16px;
    line-height: .55rem;
}
#list_wrap>.list_item>.day>.hui{
    color:red;
    font-style: normal
}

